h1{
    font-family: Arial;
    text-align: center;
    color: blueviolet;
}

a:hover{
    color: chartreuse;
    font-style: italic;
}
h3{
    font-family: Arial;
    font-style: italic;
    color: darkgreen;
}
.clase{
    font-family: Arial;
}

@media(min-width: 480px){
    body{
        background-color: bisque;
    }
}
@media(min-width: 700px){
    body{
        background-color: cyan;
    }
}
@media(min-width: 1000px){
    body{
        background-color: tomato;
    }
}